body{
  /* font-family: 'Orbitron', sans-serif; */
  /* border:0px solid #39ff14; */
  border-top: 10px;
  color: black;
  background-color: #EBECFD;
  margin:0px;
}
h3{
  text-align: center;
  font-size:25px;
}
h1{
  /* font-family: 'Orbitron', sans-serif; */
  text-align: center;
}
h2{
  /* font-family: 'Orbitron', sans-serif; */
  text-align: center;
}
p{
  text-align: center;
  font-size: 25px;
}
a{
  text-align: center;
}
#add{
  font-size:15px;
  text-align: center;
}
#navv{
  background-color: black;
}
#tag{
  font-size: 20px;
  color: white;
}
#welcome{
  background-image:url("bk.jpg");
}
#news{
  background-color: black;
  font-size: 20px;
  color: white;
}
