body{
  font-family: 'Orbitron', sans-serif;
  border:50px solid #39ff14;
  border-top: 10px;
  color: #39ff14;
  background-color: black;
  margin:0px;
}
h1{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
h2{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
